.wrapper {
  width: 100%;
  max-width: $post-max-width;
  @include flex-col;

  margin: 0 auto;
  color: var(--gray800);
  padding-top: 64px;

  @include responsive(l) {
    margin-top: 128px;
    padding: 0 32px;
  }
  @include responsive(s) {
    margin-top: 100px;
    padding: 0 20px;
  }
}

.textWrapper {
  width: 100%;
  @include flex-col;
  margin-bottom: 120px;
}

.title {
  font-size: 36px;
  font-weight: 600;
}

.body {
  margin-top: 8px;
}
