.wrapper {
  width: 100%;
  padding: 68px 36px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  color: $gray600;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  font-size: 18px;
  font-weight: 700;
  color: $gray700;
}
