.wrapper {
  position: fixed;
  top: $HEADER_HEIGHT;
  margin: 64px 0 0 0;

  @include flex-col(4px);
  align-items: center;

  @include responsive(xl) {
    width: 100%;
    max-width: $THUMBNAIL_WIDTH_L;
    align-items: flex-start;
    position: inherit;
    margin: 0 auto;
  }

  @include responsive(s) {
    max-width: $THUMBNAIL_WIDTH_S;
  }
}

.image {
  width: 120px;
  height: 120px;
  align-self: flex-start;

  @include responsive(xl) {
    width: 100px;
    height: 100px;
  }

  @include responsive(s) {
    display: none;
  }
}

.text {
  @include flex-col(16px);
  @include responsive(xl) {
    gap: 8px;
  }

  .name {
    font-size: 18px;
    font-weight: 700;
    color: var(--gray700);

    @include responsive(xl) {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .description {
    font-size: 12px;
    color: var(--gray600);

    @include flex-col(4px);
    @include responsive(xl) {
      font-size: 12px;
      gap: 2px;
    }
  }
}
