.wrapper {
  width: 100%;
  max-width: 800px;
  height: 180px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  cursor: pointer;

  &:hover {
    text-shadow: 0 0 10px rgba(47, 58, 48, 0.2);
    transition:
      text-shadow 0.3s,
      opacity 0.4s;
  }

  @include responsive(s) {
    @include flex-col;
    width: 100%;
    max-width: 360px;
    height: inherit;
  }
}

.image {
  object-fit: cover;
  overflow: hidden;

  @include responsive(s) {
    width: 100%;
    height: 200px;
    border: 1px solid var(--gray100);
  }
}

.postInfo {
  width: calc(100% - 320px);
  height: 100%;

  @include flex-col(12px);
  @include responsive(s) {
    width: 100%;
    padding: 16px 4px 24px 8px;
  }
}

.top {
  display: flex;
  align-items: center;
  gap: 12px;
}

.category {
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 8px;
  color: $blue300;
  background: var(--block-background);
}

.date {
  font-size: 12px;
  color: var(--gray300);
}

.bottom {
  @include flex-col(12px);
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  display: -webkit-box;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  color: var(--gray800);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6;

  @include responsive(s) {
    font-size: 20px;
  }
}

.summary {
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  overflow-wrap: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  color: var(--gray500);
  font-size: 12px;
  line-height: 1.6;
  font-weight: 300;

  @include responsive(s) {
    -webkit-line-clamp: 2;
  }
}
