.wrapper {
  display: flex;
  height: 160px;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    text-shadow: 0 0 10px rgba(47, 58, 48, 0.2);
    transition:
      text-shadow 0.3s,
      opacity 0.4s;
  }

  @include responsive(s) {
    width: 300px;
    height: inherit;
    flex-direction: column;

    & + & {
      margin-top: 0px;
    }
  }
}

.image {
  object-fit: cover;
  overflow: hidden;
  @include responsive(s) {
    width: 100%;
    border-radius: 12px;
    border: 1px solid $gray100;
  }
}

.postInfo {
  width: calc(100% - 200px);
  padding: 4px 12px 16px 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include responsive(s) {
    width: 100%;
    padding: 24px 8px;
  }
}

.title {
  display: -webkit-box;

  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  color: $gray700;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.6;

  @include responsive(s) {
    font-size: 20px;
  }
}

.summary {
  margin-top: 8px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  overflow-wrap: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  color: $gray300;
  font-size: 12px;
  line-height: 1.5;

  @include responsive(s) {
    margin-top: 16px;
    -webkit-line-clamp: 2;
  }
}

.postData {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;

  @include responsive(s) {
    margin-top: 16px;
    font-weight: 600;
    font-size: 14px;
  }

  .date {
    color: $gray300;
  }

  .category {
    color: $blue300;
    margin-right: 8px;
  }
}
