.wrapper {
  width: 216px;
  padding: 128px 20px 0 28px;

  position: fixed;
  top: 0px;
  right: calc((100% - 768px) / 2 - 216px);

  display: flex;
  flex-direction: column;
  gap: 8px;

  color: var(--gray300);
  font-size: 12px;
  line-height: 1.4;
  word-break: break-all;

  @media (min-width: 1400px) {
    font-size: 13px;
    padding: 128px 0 0 28px;
    right: calc((100% - 768px) / 2 - 288px);
  }

  @include responsive(xxl) {
    padding: 128px 16px 0 20px;
    right: 0;
  }

  @include responsive(xl) {
    display: none;
  }
}

.heading1 {
  width: 100%;
  display: flex;
  align-items: center;
  &:hover {
    color: $mint100;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
}

.heading2 {
  width: 100%;
  padding-left: 8px;
  display: flex;
  align-items: center;
  &:hover {
    color: $mint100;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
}

.active {
  color: $pink200;
  font-weight: 600;
}
