$primary: #decfff;
$secondary: #daefff;

$point1: #ff81d4;
$point2: #8192ff;
$point3: #8fa8c4;

$white: #ffffff;
$black: #000000;

$gray100: #e4e4e4;
$gray200: #d1d1d1;
$gray300: #b2b2b2;
$gray400: #9c9c9c;
$gray500: #8b8b8b;
$gray600: #6f6f6f;
$gray700: #555555;
$gray800: #3e3e3e;
$gray900: #292929;
