.layout {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grid {
  width: 100%;
  max-width: 1500px;
  display: flex;
  position: relative;

  // @include responsive(xl) {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  // }
}

.contents {
  width: 100%;
  // max-width: 768px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 0 auto;
}

.list {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-top: calc(64px + 52px);

  @include responsive(l) {
    padding: calc(64px + 40px) 32px 0 32px;
  }

  @include responsive(s) {
    width: 100%;
    display: grid;
    row-gap: 52px;
    grid-template-columns: 1fr;
    padding: calc(64px + 40px) 0 0 0;
  }
}

.heading {
  display: flex;
  gap: 24px;
  color: $gray200;

  h2 {
    cursor: pointer;
    &:hover {
      color: $gray400;
      text-decoration: $yellow200 wavy underline;
      text-underline-position: under;
    }
  }

  h2.fixed {
    color: $gray400;
    text-decoration: $yellow200 wavy underline;
    text-underline-position: under;
  }

  @include responsive(s) {
    margin: 0 auto;
  }
}
