.layout {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grid {
  width: 100%;
  max-width: 1500px;
  display: grid;
  grid-template-columns: 1fr 768px 1fr;
  @include responsive(xl) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contents {
  width: 100%;
  max-width: 768px;
  height: 100vh;
  padding-top: calc(64px + 64px);
  display: flex;
  flex-direction: column;
  overflow: auto;
  @include responsive(l) {
    padding-top: 80px;
  }
  @include responsive(s) {
    padding-top: 48px;
  }
}

.thumbnailList {
  display: flex;
  flex-direction: column;
  gap: 64px;

  @include responsive(l) {
    padding: 30px 32px;
  }

  @include responsive(s) {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 52px;
    width: 100%;
    padding: 30px 0;
    margin-top: 28px;
  }
}

.heading {
  display: flex;
  gap: 24px;
  color: $gray200;

  h2 {
    cursor: pointer;
    &:hover {
      color: $gray400;
      text-decoration: #ffe53f wavy underline;
      text-underline-position: under;
    }
  }

  h2.fixed {
    color: $gray400;
    text-decoration: #ffe53f wavy underline;
    text-underline-position: under;
  }

  @include responsive(s) {
    margin: 0 auto;
  }
}
