.layout {
  width: 100vw;
  align-items: center;
  @include flex-col;
}

.main {
  width: 100%;
  max-width: $SCREEN_MAX_WIDTH;
  display: flex;
  position: relative;
  padding: $HEADER_HEIGHT 0 0 0;

  @include responsive(xxl) {
    padding: $HEADER_HEIGHT 32px 0 32px;
  }

  @include responsive(s) {
    padding: $HEADER_HEIGHT 20px 0 20px;
  }
}
