.wrapper {
  @include flex-col(64px);

  @include responsive(l) {
    padding: 0 20px;
  }

  @include responsive(s) {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 56px;
    width: 100%;
    padding: 0 32px;
  }
}
