.wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-top: calc(64px + 64px);

  @include responsive(l) {
    padding: 36px 32px;
  }

  @include responsive(s) {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 52px;
    width: 100%;
    padding: 36px 0;
    margin-top: 28px;
  }
}
