.wrapper {
  width: 100vw;
  height: 68px;
  background: none;
  background: #ffffff5f;
  backdrop-filter: blur(8px);
  border-bottom: 1px solid $gray400;

  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemWrapper {
  width: 100%;
  max-width: 768px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.items {
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  span:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition:
      text-shadow 0.3s,
      opacity 0.4s;
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
