.wrapper {
  width: 100vw;
  height: 68px;
  padding: 0 28px;
  background: none;
  background: var(--header);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid var(--header-border);

  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;

  @include responsive(xs) {
    height: 56px;
  }
}

.itemWrapper {
  width: 100%;
  max-width: $screen-max-width;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.items {
  gap: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;

  span:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition:
      text-shadow 0.3s,
      opacity 0.4s;
  }

  @include responsive(s) {
    display: none;
  }
}

.menu {
  @media (min-width: 577px) {
    display: none;
  }
}

.logo {
  color: $pink200;
  font-weight: 600;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.theme {
  @include responsive(s) {
    width: 26px;
    height: 26px;
  }
}
