.mdx {
  width: 100%;
  @include flex-col;

  margin: 0 auto 100px auto;
  color: var(--gray700);
  line-height: 2;
  font-size: 16px;
  word-break: break-all;

  p {
    margin: 0;
  }

  p + p {
    margin-top: 12px;
  }

  strong {
    font-weight: 600;
  }

  h1 {
    font-size: 32px;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 4px;
    code[class*='language-'] {
      color: var(--gray600);
    }
  }

  h2 {
    font-size: 26px;
    font-weight: 600;
    margin-top: 56px;
    margin-bottom: 4px;
    code[class*='language-'] {
      color: var(--gray600);
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 44px;
    margin-bottom: 12px;
    code[class*='language-'] {
      font-size: 18px;
      font-weight: 600;
      color: var(--gray600);
    }
  }

  h1 + h1,
  h1 + h2,
  h1 + h3,
  h2 + h1,
  h2 + h2,
  h2 + h3,
  h3 + h1,
  h3 + h2,
  h3 + h3 {
    margin-top: 0;
  }

  hr + h1,
  hr + h2,
  hr + h3 {
    margin-top: 0;
  }

  blockquote {
    width: 100%;
    margin: 20px 0;
    padding: 12px 20px;
    border-radius: 12px;
    background: var(--block-background);
    color: var(--gray500);
  }

  ol,
  ul {
    margin-top: 0px;
    margin-left: 24px;
  }

  li {
    margin-top: 4px;
  }

  hr {
    border: 0.5px solid var(--gray100);
    margin: 60px 0;
  }

  a {
    color: $mint100;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    &:hover {
      color: $pink200;
    }
  }

  u {
    text-decoration: $yellow100 wavy underline;
    text-underline-position: under;
    text-underline-offset: 3px;
  }

  img {
    display: block;
    max-width: 600px;
    margin: 8px 0 36px 0;
    border-radius: 4px;
    & + & {
      margin: 4px 0;
    }
  }

  table {
    margin: 8px 0;
    border: 1px solid var(--gray100);
    font-size: 12px;
    text-align: center;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid var(--gray100);
      padding: 4px 0;
    }
  }

  code,
  span[class*='token'],
  span[class*='code-'] {
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  }

  code[class*='language-'],
  pre[class*='language-'] {
    font-size: 12px;
    color: var(--gray800);
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.8;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  /* Selection */
  code[class*='language-']::-moz-selection,
  code[class*='language-'] *::-moz-selection,
  pre[class*='language-'] *::-moz-selection {
    background: var(--gray50);
    color: inherit;
    text-shadow: none;
  }

  code[class*='language-']::selection,
  code[class*='language-'] *::selection,
  pre[class*='language-'] *::selection {
    background: var(--gray50);
    color: inherit;
    text-shadow: none;
  }

  /* Code blocks */
  pre[class*='language-'] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    margin-top: 12px;
    margin-bottom: 36px;
    border-radius: 4px;
    border: 0.5px solid var(--gray100);
  }

  /* Inline code */
  :not(pre) > code {
    background: var(--gray50);
    padding: 2px 4px;
    border-radius: 3px;
    color: $red100;
    margin-right: 2px;
    white-space: normal;
    border: none;
    font-size: 13px;
  }

  /* Print */
  @media print {
    code[class*='language-'],
    pre[class*='language-'] {
      text-shadow: none;
    }
  }

  @include responsive(l) {
    font-size: 15px;
    margin-bottom: 60px h1 {
      font-size: 23px;
    }

    h2 {
      font-size: 22px;
    }

    h3 {
      font-size: 17px;
    }

    img {
      width: 100%;
    }

    hr {
      margin: 50px 0;
    }

    img {
      max-width: 100%;
    }
  }

  @include responsive(m) {
    margin-bottom: 32px;
  }
}
