.header {
  width: 100%;
  margin: 0 auto 96px;
  justify-content: flex-end;

  h2 {
    font-weight: 500;
  }

  @include flex-col;
}

.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 0;
}

.info {
  display: flex;
  gap: 12px;
  margin-top: 8px;
  color: var(--gray300);

  span:hover {
    color: $mint100;
    -moz-transition: color 0.7s ease;
    -o-transition: color 0.7s ease;
    -ms-transition: color 0.7s ease;
    -webkit-transition: color 0.7s ease;
    transition: color 0.7s ease;
  }

  @include typo-medium(13px);
}
