.section {
  width: 100%;
  padding: 0 16px;
  margin: 28px 0 64px 0;
  display: flex;
  justify-content: space-between;

  @include responsive(s) {
    @include flex-col(6px);
  }
}

.wrapper {
  width: 240px;
  padding: 8px;
  cursor: pointer;

  &:hover {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition:
      text-shadow 0.5s,
      opacity 0.5s;

    .top {
      color: $blue300;
      transition: color 0.5s ease;
    }

    .bottom {
      color: var(--gray700);
      transition: color 0.5s ease;
    }
  }

  @include flex-col(8px);
  @include typo-regular(14px);

  @include responsive(s) {
    gap: 4px;
    border-radius: 8px;
    font-size: 12px;
    background: var(--block-background);
  }

  @include responsive(xs) {
    width: 100%;
  }
}

.top {
  color: $blue400;
}

.bottom {
  color: var(--gray600);
  line-height: 1.5;

  overflow: hidden;
  @include ellipsis(2);

  @include responsive(s) {
    @include ellipsis(1);
  }
}
