.wrapper {
  width: 100%;
  max-width: $SCREEN_MAX_WIDTH;
  margin: 64px auto 0 auto;

  @include responsive(xl) {
    margin: 48px auto 0 auto;
    @include flex-col(64px);
  }

  @include responsive(s) {
    margin: 32px auto 0 auto;
    gap: 52px;
  }
}

.list {
  @include flex-col(64px);
}
