.wrapper {
  width: 100%;
  max-width: $post-max-width;
  margin: 0 auto;
  padding-top: 64px;

  @include flex-col;

  @include responsive(l) {
    padding: 128px 32px 0 32px;
  }
  @include responsive(m) {
    padding: 128px 52px 0 52px;
  }
  @include responsive(s) {
    padding: 32px 20px 0 20px;
  }
}
